body {
    background-image: url(love.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 142, 172);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    min-width: 30%;
    min-height: 30%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 2px black;
    border-radius: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 5px 10px;
    font-family: "Poppins",sans-serif;
}
.fa-heart {
    color: 	rgb(228,91,111);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}